//VARIABLE
$screen-xs:                                         480px;
$screen-sm:                                         768px;
$screen-md:                                         992px;
$screen-lg:                                         1200px;
$screen-xl:                                         1400px;
$screen-xxl:                                        1600px;

// .cards{
//     display: flex;
//     justify-content: space-between;
//     flex-direction: row;
//     flex-wrap: wrap;
//     align-items: stretch;
//     margin-left: -30px;
//     padding: 100px 100px;
// }

.card{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
    margin-left: var(--spacing);
    width: calc(calc(100% / var(--colunms)) - var(--spacing));
    margin-bottom: var(--spacing);
    ::before{
        content: "";
        position: absolute;
        top: 15px;
        left: 7px;
        right: 7px;
        bottom: -15px;
        z-index: -1;
        background: #F0F3F6;
    }
}

.card-image{
    height: 200px;
    width: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

.card-content{
    // background-color: red;
    flex: 1;
    display: flex;
    flex-direction: column;
    .card-top{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
        padding: 20px 20px 0 20px;

        .card-title{
            margin: 0;
            margin-bottom: 25px;
            font-weight: 600; 
            word-break: break-all;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-word;
        }
        .card-user{
            display: flex;
            flex-direction: row;
            align-items: center;
            .card-user-avatar{
                border-radius: 100rem;
                width: 50px;
                height: 50px;
                flex-shrink: 0;
                object-fit: cover;
            }
            .card-user-info{
                padding-left: 20px;
                flex: 1;
                .card-user-top{
                    display: flex;
                    align-items: center;
                    margin-top: 2px;
                    .card-user-name{
                        margin: 0;
                        font-size: 14px;
                        line-height: 1.3;
    
                    }
                    .card-user-icon{
                        margin-left: 5px;
                    }
                }
                .card-user-game{
                    font-size: 13px;
                    color: gray;
                }
            }
        }
    }
    .card-footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #eee;
        margin-top: auto;
        padding: 20px;
        flex-shrink: 0;
        .card-live{
            display: flex;
            align-items: center;
            justify-content: space-around;
            min-width: 60px;
            background: #FF754C;
            padding: 0 5px 0 5px;
            border-radius: 8px;
    
            color: #fff;
            font-size: 13px;
            font-weight: 500;
            // line-height: 24px;
        }
        .card-watching{
            font-weight: 500;
        }
    }
}

$screen-xs:                                         480px;
$screen-sm:                                         768px;
$screen-md:                                         992px;
$screen-lg:                                         1200px;
$screen-xl:                                         1400px;
$screen-xxl:                                        1600px;


// QUERIES
@media screen and (max-width: $screen-xxl) {
    .cards{
        --spacing: 30px;
        --colunms: 4;
    }
}

@media screen and (max-width: $screen-xl) {
    .cards{
        --spacing: 25px;
        --colunms: 4;
    }
}

@media screen and (max-width: $screen-lg) {
    .cards{
        --spacing: 25px;
        --colunms: 4;
    }
}

@media screen and (max-width: $screen-md) {
    .cards{
        --spacing: 25px;
        --colunms: 3;
    }
}

@media screen and (max-width: $screen-sm) {
    .cards{
        --spacing: 25px;
        --colunms: 2;
        padding: 20px 20px
    }
}
@media screen and (max-width: $screen-xs) {
    .cards{
        --spacing: 10px;
        --colunms: 1;
        padding: 20px 20px;
    }
}