.expense-input{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(26, 54, 126, 0.125);
    border-radius: 0.25rem;
    width: 700px;
    margin: 20px auto;
    -webkit-box-shadow:-3px 10px 33px 4px rgba(62,66,66,0.18);
    -moz-box-shadow: -3px 10px 33px 4px rgba(62,66,66,0.18);
    box-shadow: -3px 10px 33px 4px rgba(62,66,66,0.18);
    .expense-input__header{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.75rem 1.5rem;
        border-bottom: 1px solid rgba(26, 54, 126, 0.125);
        font-weight: bold;
    }
    .expense-input__body{
        flex: 1 1 auto;
        padding: 1.25rem;
    }
    .new-expense__control{
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;
        .new-expense__control__title{
            font-size: 18px;
            font-weight: 400;
        }
    }

}