.cards{
  --spacing: 25px;
  --colunms: 4;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  /* align-items: stretch; */
  margin-left: cacl(var(--spacing)*(-1));
  padding: 100px 100px;
}