.card-expense{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
    margin-left: var(--spacing);
    width: calc(calc(100% / var(--colunms)) - var(--spacing));
    margin-bottom: var(--spacing);
    -webkit-box-shadow:-3px 10px 33px 4px rgba(62,66,66,0.18);
    -moz-box-shadow: -3px 10px 33px 4px rgba(62,66,66,0.18);
    box-shadow: -3px 10px 33px 4px rgba(62,66,66,0.18);
}

